fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.41
alembic==1.16.4
psycopg[binary]==3.3.4
pydantic-settings==2.10.1
pwdlib[argon2]==0.2.1
PyJWT==2.10.1
email-validator==2.2.0
python-multipart==0.0.20
httpx==0.28.1
openpyxl==3.1.5
reportlab==4.4.3
Pillow==11.3.0
PyMuPDF==1.26.4
qrcode==8.2
pypdf==5.9.0
playwright==1.55.0
psutil==7.0.0
CairoSVG==2.8.2
python-tds==1.17.1
cryptography==45.0.7
